body{
    max-width: 600px;
}

.diceDiv {
    display: grid;
    grid-template-columns: 1fr,1fr, 1fr, 1fr , 1fr;
    gap: 1em;
    justify-items: center;
    min-height: 15pc;
    border-color: black;
    background-color: rgb(52, 105, 228);
    border-style: dashed;
    border-radius: 1pc;
    padding: 1.5em;
    margin: .5pc;
}

div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #19191a;
    font-weight: bold;
}

img{
    border-radius: 10%;
    width: 4pc;
    border: 10px solid rgb(255, 255, 255);
}

.selectDice{
    border: 10px solid green;
}

.diceDiv > #Dice {
    grid-column: 1/5;
    grid-row: 1;
    padding: 2pc; 
}

.diceDiv > #DiceRoll {
    
    margin-inline: 1em;
    grid-column: 4;
    grid-row: 2;
    gap: 10em;
    
}

.diceDiv > #TurnLbl {
    padding: 1em;
    margin-inline: 1em;
    grid-column: 1;
    grid-row: 2;
    gap: 10em;
}

 #Turn {
    color: brown;
}

#Roll {
    color: yellowgreen;
    min-height: 4pc;
    min-width: 6pc;

}

body > div.resultsDiv {
    border-radius: 10pt;
    border-style: ridge;
    display: grid;
    background-color: rgb(201, 121, 16);
    padding: 10px;
    grid-template-columns: [first-col] 1fr [second-col] 1fr [third-col] 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    "Singels . ." 
    "Singels . ."
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels Sum Bonus" 
    "Singels . ."
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels . ." 
    "Singels . total";
    gap: 7px;
}

body div.resultsDiv span label{
    padding-right: 10px;
}

body div.resultsDiv span input{
    width: 50px;
}

body div.resultsDiv div.Singels span input{
    float: right;
}

body div.resultsDiv div.Singels span label{
    display: inline;
}


.Singels {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-area: Singels;
}

.result{
    background-color: #ffffff;
}

.chosen{
    background-color: green;
}

.sSum {
    grid-area: Sum;
    padding-left: 20px;
}

.sBonus {
    grid-area: Bonus;
    align-self: last baseline;
}

.total {
    grid-area: total;
    align-self: last baseline;
}
